/* logs */
#block-logs {
    height: 350px;
    overflow-y: auto;
}
#block-logs p {
    padding: 5px 10px;
}

/* modal */
#work-modal {
    pointer-events: none !important;
}

/* audio */
#audio{
    width: 100%;
}

/* tooltip + btn */
.tooltip+.btn-block {
    margin-top: 5px;
}