<h4>Информация о персонаже</h4>

<table class="table table-hover">
  <tbody>
    <tr>
      <td>Место работы:</td>
      <td>{{ person.position?.name ?? 'Безработный' }}</td>
    </tr>
    <tr>
      <td>Место жительства:</td>
      <td>{{ person.home?.name ?? 'Бездомный' }}</td>
    </tr>
    <tr>
      <td>Заработанно денег:</td>
      <td>{{ person.statistic.earnedMoney | currency }}</td>
    </tr>
    <tr>
      <td>Прочтено книг:</td>
      <td>{{ person.statistic.readBooks }}</td>
    </tr>
    <tr>
      <td>Написанно программ:</td>
      <td>{{ person.statistic.writedProgramm }}</td>
    </tr>
    <tr>
      <td>Написанно вирусов:</td>
      <td>{{ person.statistic.wriptedVirus }}</td>
    </tr>
    <tr>
      <td>Время жизни в Канаде:</td>
      <td>{{ livingTime }}</td>
    </tr>
	</tbody>
</table>