/* You can add global styles to this file, and also import other style files */

:root {
  --main-bg-color: #606988;

	--replace-primary: #337ab7;
	--replace-primary-darken: #2d6ea6;
	--replace-primary-darken-lg: #296498;
	--replace-primary-darken-xl: #255b8b;

	--replace-success: #5cb85c;
	--replace-success-darken: #55ac55;
	--replace-success-darken-lg: #4e9f4e;
	--replace-success-darken-xl: #468f46;
}

body {
	background: var(--main-bg-color);
}