:host {
	.avatar {
		max-height: 98px;
    border: 2px solid #221e20;
    border-radius: 5px;
	}

	.btn-labeled {
		padding: 0 .3rem;
	}

	.label-data {
		display: inline-block;
		margin: 0 0 0 .5rem;
		min-width: 24px;
		height: 17px;
		line-height: 17px;
		padding: 0 .2rem;
		text-align: center;
		color: black;
		font-weight: 600;
		background: white;
		border-radius: 3px;
	}

	.btn-primary {
		--bs-btn-bg: var(--replace-primary);
		--bs-btn-border-color: var(--replace-primary);
		--bs-btn-disabled-bg: var(--replace-primary);
		--bs-btn-disabled-border-color: var(--replace-primary);
		--bs-btn-hover-bg: var(--replace-primary-darken);
		--bs-btn-hover-border-color: var(--replace-primary-darken-lg);
		--bs-btn-active-bg: var(--replace-primary-darken-lg);
		--bs-btn-active-border-color: var(--replace-primary-darken-xl);
	}

	.btn-success {
		--bs-btn-bg: var(--replace-success);
		--bs-btn-border-color: var(--replace-success);
		--bs-btn-disabled-bg: var(--replace-success);
		--bs-btn-disabled-border-color: var(--replace-success);
		--bs-btn-hover-bg: var(--replace-success-darken);
		--bs-btn-hover-border-color: var(--replace-success-darken-lg);
		--bs-btn-active-bg: var(--replace-success-darken-lg);
		--bs-btn-active-border-color: var(--replace-success-darken-xl);
	}
}